<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <servlet>  
       <servlet-name>Test</servlet-name>  
       <servlet-class>Test</servlet-class>  
    </servlet>  
        <servlet-mapping>  
       <servlet-name>Test</servlet-name>  
       <url-pattern>/Test</url-pattern>  
    </servlet-mapping>
    <display-name></display-name>
    <servlet>
        <servlet-name>InitTree</servlet-name>
        <servlet-class>InitTree</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitTree</servlet-name>
        <url-pattern>/InitTree</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>doNode</servlet-name>
        <servlet-class>doNode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doNode</servlet-name>
        <url-pattern>/doNode</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
